<div class = "container">
        <div id="Error-Page-Container">
                    <h1>  404 </h1>
                    <h2> OOPS Looks Like Something Went Wrong </h2>
            </div>
            <div>
                    <img src="https://res.cloudinary.com/dux6bkfas/image/upload/v1515728051/3a116884945f870924f1ffd3f36fc015_vvdmho.png" alt="homer pic">
            </div>
    </div>
    
<% include partials/footer %>