<!----------------------------------------------------------------------------->
<!--------------------------404 Error Page------------------------------------->
<!----------------------------------------------------------------------------->

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<div class = "container">
    <div class="row">
        <div class="col-md-6">
                    <h1>  404 </h1>
                    <h2> OOPS Looks Like Something Went Wrong </h2>
            </div>
            <div class="col-md-6">
                    <img src="https://res.cloudinary.com/dux6bkfas/image/upload/v1515763739/Ralph_Wiggum_rtjgi7.png">
    </div>
</div>
<% include partials/footer %>