<div class = "container">
        <div id="Error-Page-Container">
                    <h1>  404 </h1>
                    <h2> OOPS Looks Like Something Went Wrong </h2>
            </div>
            <div>
                    <img src="https://res.cloudinary.com/dux6bkfas/image/upload/v1515763739/Ralph_Wiggum_rtjgi7.png">
    </div>
    
<% include partials/footer %>