<% include ./partials/header %>

<!--<h1>Login!</h1>-->
<!--<form action="/login" method="POST">-->
<!--    <input type="text" name="username" placeholder="username">-->
<!--    <input type="password" name="password" placeholder="password"> -->
<!--    <input type="submit" value="Login!">-->
<!--</form>-->

<div class="row">
    <h1 style="text-align: center">Login</h1>
    <div class="input">
        <form action="/login" method="post">
            <div class="form-group">
                 <label for="username">User Name</label>
                <input class="form-control" type="text" name="username"  style="font-family:Arial, FontAwesome" placeholder="&#xf007; username"  autofocus>
            </div>
            <div class="form-group">
                 <label for="password">Password</label>
                <input class="form-control" type="password" name="password" style="font-family:Arial, FontAwesome" placeholder="&#xf040; password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
            <div  class="center" class="form-group">
                <a href="/forgot">Forgot Password</a>
            </div>
             <div  class="center" class="form-group">
                 <a href="/campgrounds">Go Back</a>
            </div>
        </form>
        
        
    </div>
    
</div>

<% include ./partials/footer %>