<!----------------------------------------------------------------------------->
<!------------------------- User Signup Form Page ----------------------------->
<!----------------------------------------------------------------------------->

<% include ./partials/header %>
<!--<h1>Sign Up!</h1>-->

<!--<form action="/register" method="post">-->
<!--    <input type="text" name="username" placeholder="username">-->
<!--    <input type="password" name="password" placeholder="password">-->
<!--    <button>Sign Up</button>-->
<!--</form>-->

<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div class="input">
        <form action="/register" method="post">
            <div class="form-group">
                 <label for="username">User Name</label>
                <input class="form-control" type="text" name="username" style="font-family:Arial, FontAwesome" placeholder="&#xf007; username"  required="required"  autofocus>
            </div>
            <div class="form-group">
                 <label for="password">Password</label>
                <input class="form-control" type="password" name="password" style="font-family:Arial, FontAwesome" placeholder="&#xf040; password" required="required"  >
            </div>
            <div class="form-group">
                 <label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" style="font-family:Arial, FontAwesome" placeholder="&#xf183; first name" required="required"  >
            </div>
            <div class="form-group">
                 <label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" style="font-family:Arial, FontAwesome" placeholder="&#xf183; last name" required="required"  >
            </div>
            <div class="form-group">
                 <label for="email">Email</label>
                <input class="form-control" type="email" name="email" style="font-family:Arial, FontAwesome" placeholder="&#xf1fa; john@doe.com" required="required"  >
            </div>
            <!--<div class="form-group">-->
            <!--     <label for="avatar">Avatar</label>-->
            <!--    <input class="form-control" type="text" name="avatar" placeholder="avatar URL">-->
            <!--</div>-->
            <div class="form-group">
                 <label for="adminCode">Admin Code</label>
                <input class="form-control" type="password" name="adminCode" style="font-family:Arial, FontAwesome" placeholder="&#xf0e7; admin code">
            </div>
            <div class="form-group">
                <!--<div class="g-recaptcha" data-sitekey="6Lc9Yz8UAAAAAGdlLVG7jYSIo0Jbyt8ffzyUmncm"></div>-->
                <div class="g-recaptcha" data-sitekey="6LeJZT8UAAAAAK4rh2Z-KnVQlwT894SsUiJbJs_l"></div>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
            <div  class="center" class="form-group">
                 <a href="/campgrounds">Go Back</a>
            </div>
        </form>
       
    </div>
</div>

<% include ./partials/footer %>