/*----------------------------------------------------------------------------*/
/*------------------------------ Main CSS ------------------------------------*/
/*----------------------------------------------------------------------------*/

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.input {
     width: 30%; 
     margin: 25px auto;
}

.center {
    text-align: center;
}



.delete-form {
    display: inline;
}



/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#copy {
    text-align: center;
}

/*----------------------------------------------------------------------------*/
/*----------------------------- Main Mobile CSS ------------------------------*/
/*----------------------------------------------------------------------------*/

@media screen and (min-device-width : 320px) and (max-device-width : 480px){
    .input{
        width: 90%;
    
    }
    
    
}