.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#copy {
    text-align: center;
}